<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WeatherMap</title>

    <script src="{{ url_for('static', filename="jquery-2.1.1.js") }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename="leaflet/leaflet.css") }}" />
    <script src="{{ url_for('static', filename="leaflet/leaflet-src.js") }}"></script>
    <script src="{{ url_for('static', filename="leaflet.ajax.js") }}"></script>
    <script src="{{ url_for('static', filename="leaflet.spin.js") }}"></script>

    <script src="{{ url_for('static', filename="spin.js") }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
    <script src="{{ url_for('static', filename="weather.js") }}"></script>

</head>
<body>
<div id="map"></div>


</body>
</html>
