<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WeatherMap</title>


    <!-- TODO: use static and local libs -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
    <script src="{{ url_for('static', filename="weather.js") }}"></script>

</head>
<body>
<div id="map"></div>


</body>
</html>